/*************** LISTADO DE ARTÍCULOS ********************************/
.articulo {
	cursor: pointer;
}

.primera-seccion {
	margin-top: 80px;
}

/* Márgenes comunes */
.articulo-foto-autor,
.articulo-titulo,
.articulo-etiqueta-label,
.articulo-me-gusta,
.autor-comentarios {
	margin-left: 10px;
}

.articulo-me-gusta,
.autor-comentarios {
	margin-right: 10px;
}

.articulo-foto-autor {
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}

.articulo-icono-autor {
	color: $articulo-icono-autor;
	font-size: 250%;
}

.articulo-autor-nombre {
	color: $articulo-autor-nombre-color;
	margin-bottom: 3px;
}

.autor-fecha-publicacion {
	margin-bottom: 5px;
}

.articulo-me-gusta,
.autor-comentarios {
	display: inline-block;
	cursor: pointer;
	font-size: 110%;
	margin-top: 10px;
	color: $articulo-me-gusta;	
}

.articulo-etiqueta-label {
	margin-top: 10px;
	margin-bottom: 10px;
}

.autor-me-gusta {
	display: inline-block; 
	margin: 10px 0px;
}

.autor-comentarios {
	float: right;	
}

.icono-fecha-publicacion {
	display: inline-block;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.separador {
	margin-bottom: 20px;
}
/*************** LISTADO DE ARTÍCULOS ********************************/