body {

    font-family: $main-font-family;
    font-size: $font-size-normal;
    background-color: $color-parrafo-resumen;

    @include if-is-tablet {
        font-size: $font-size-tablet;
    }
    @include if-is-desktop {
        font-size: $font-size-desktop;
    }
}

article {
    border-bottom: 1px solid $separador-articulos;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

h2 {
    color: $color-primary-4;
    font-size: 160%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px; /* Espaciado entre letras */
}