.pie {
	background: $footer-background-color;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 40px;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;	
	align-items: center;

	@include if-is-tablet {
		height: 60px;
	}	
	@include if-is-desktop {
		height: 80px;
	}				

	.nombre-app,
	.subir {
		display: inline-block;
		margin: 0;
	}

	.nombre-app {
		text-align: center;		
		color: $logo-color;
		@include if-is-tablet {
			font-size: 180%;
		}	
		@include if-is-desktop {
			font-size: 250%;
		}				
	}

	.subir {
		margin-right: 10px;
		cursor: pointer;
		&:link,
	 	&:visited { 
	    	text-decoration: none;
		    border: 0;
		    color: $enlace-subir;
		    -webkit-transition: color 0.2s;
		    transition: color 0.2s;
		}
	}

	.logo {
		margin-left: 10px;
		@include if-is-tablet {
			font-size: 180%;
		}		
		@include if-is-desktop {
			font-size: 250%;
		}		
	}
}