/******************* ESTILOS FOOTER *********************/
.pie {
	background: $footer-background-color;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-between;	

	.nombre-app,
	.subir {
		display: inline-block;	
	}

	.ion-planet {
		font-size: 150%; // Logotipo al 250%
	}	
}/******************* ESTILOS FOOTER *********************/