// Familia de la fuente
$main-font-family: 'Lato', 'Arial', sans-serif;

// Tamaño de fuentes
$font-size-normal: 14px;
$font-size-small: $font-size-normal - 2px;
$font-size-large: $font-size-normal + 12px;


// Paleta primaria de colores
$color-primary-0: #E67E22;	// Main Primary color */
$color-primary-1: #FFB878;
$color-primary-2: #F49C4D;
$color-primary-3: #B95E0D;
$color-primary-4: #924500;
$color-primary-5: #555;		// Gris oscuro
$color-primary-6: #f4f4f4;  // Gris claro

// Paleta de colores
$logo-color: $color-primary-3;
$articulo-autor-nombre-color: $color-primary-5;
$articulo-titulo: $color-primary-0;
$footer-background-color: $color-primary-5;